@CHARSET "UTF-8";
html,body {
	font-size: 12px;
	color: #666;
}
body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font-family: 'Microsoft YaHei';
	font-size: 12px;
	color: #666666;
	text-align: center;
}
li,div,span,p,body {
	position: relative;
}
body,ul,li,header,nav,aside,section,article,p {
	padding: 0;
	margin: 0;
	border: 0;
}
input,select{
	outline: none;
}
header,nav,aside,section,article {
	display: block;
}
h1,h2,h3,h4,h5,h6,h7{
	margin: 0;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	text-decoration: none;
}
.no-border{
	border: none;
	border: 0px solid white !important;
}
.icon-right {
	position: absolute;
	top: 4px;
	right: 1px;
	line-height: 1.5;
	font-size: 20px;
}
 #section{
	 max-width: 400px;
	 min-width:300px;
     margin: 0 auto;
	 text-align: left;
 }
h4, .h4 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h4 strong {
	color: #F00;
}
 /*glyphicon*/
 /*
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon:empty {
  width: 1em;
}
.glyphicon-chevron-right:before {
	content: ">";
	color: #ccc;
}
.glyphicon-search:before {
	content: "\e003";
}
/*
* page header
*/
#header {
	width: 100%;
	background-color: #E9EAEC;
}
#title {
	position: relative;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #666;
	line-height: 40px;
	letter-spacing: 2px;
	font-size: 14px;
	
}
#title .icon-back {
	position: absolute;
	left: 10px;
	font-size: 14px;
	top: 8px;
	z-index: 99;
}
#title .icon-next {
	position: absolute;
	right: 10px;
	font-size: 14px;
	top: 8px;
	z-index: 99;
}

#header-scend{
	height: 40px;
}
#input-search {
	position: relative;
	width: 80%;
	margin-left: 10%;
	height: 30px;
}
#input-search input {
	width: 100%;
	height: 100%;
	padding: 0 20px 0 10px;
	border-radius: 4px;
}
.sale-select {
	height: 30px;
}
.sale-select select {
	width: 33.3%;
	height: 100%;
	float: left;
	background-color: gray;
	-webkit-appearance: none;
	border: 0px solid white;
	border-right: 1px solid white;
	text-align: center;
	padding: 0 auto;
	display: table-cell;
}
option {
	text-align: center;
}
.icon-back{
	background-image: url(../images/top_back.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}
.icon-back div{
	height: 25px;
	width:40px;
	margin-left: 10px;
	background-size: 40px 15px; 
	background-repeat: no-repeat;
	background-color: #cccccc;
	color: #666;
	line-height: 25px;
	font-size: 12px;
	color: #fff;
}
.icon-next div{
	height: 25px;
	width:40px;
	margin-left: 10px;
	background-size: 40px 15px; 
	background-repeat: no-repeat;
	background-color: #cccccc;
	color: #666;
	line-height: 25px;
	font-size: 12px;
	color: #fff;
}
.icon-search{
	min-height: 20px;
	min-width: 20px;
	background-image: url(../images/icon-search.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 2px;
}

/*commen*/
.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.clear {
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.pointer {
	cursor: pointer;
}
.article {
	margin: 10px;
}
.btn-page-end {
	margin-bottom: 60px;
}

/* Loading Circle */
.loadIcon .ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-webkit-animation:spin 1s infinite;
}

.loadIcon .ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-webkit-animation:spinoff 1s infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

.c-float-popWrap {
	width:220px;
	border-radius:2px;
	z-index:9999;
	position:absolute;
	overflow:hidden
}
.c-float-popWrap .c-float-modePop {
	background-color:rgba(51,51,51,.9);
	border-radius:2px;
	padding:15px
}
.c-float-popWrap .c-float-modePop .warnMsg {
	padding:0;
	font-size:1rem
}
.c-float-popWrap .c-float-modePop .content {
	margin-top:10px
}
.c-float-popWrap .c-float-modePop .doBtn {
	width:190px;
	margin-top:10px
}
.c-float-popWrap .c-float-modePop button {
	width:80px;
	height:30px;
	line-height:30px;
	color:#444;
	font-size:1rem;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#999));
	border:0;
	border-radius:2px;
	padding:0;
	margin:10px 5px 0
}
.c-float-popWrap.hide {
	display:none;
	box-shadow:none;
	-webkit-box-shadow:none
}
.c-float-popWrap.show {
	display:block;
	box-shadow:0 0 2px 2px rgba(0,0,0,.3);
	-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.3)
}
.c-float-popWrap.msgMode .c-float-modePop .content,.c-float-popWrap.msgMode .c-float-modePop .doBtn {
	display:none
}
.c-float-popWrap.alertMode .c-float-modePop .content {
	display:none
}
.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
	display:none
}
.c-float-popWrap.confirmMode .c-float-modePop .content,.c-float-popWrap.confirmMode .c-float-modePop .doBtn {
	display:block
}

/*bootstrap btn*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}

.btn_product{ background:#cc0033; color:#FFF; font-size:12px; margin-bottom:10px; line-height:36px; height:36px; border-radius: 4px; display:block; text-align:center;}
.btn_product:hover,.btn_product:active{ background:#f00; text-decoration:none;}
.btn_order{ background:#cc0033; color:#fff; text-align:center; font-size:12px; margin-bottom:10px; line-height:36px; height:36px; border-radius: 4px; width:45%; margin :0 15px 0 0; display:inline-block;}
.btn_download{ background:#093; color:#fff; text-align:center; font-size:12px; margin-bottom:10px; line-height:36px; height:36px; border-radius: 4px; width:45%; display:inline-block;}
.btn_download2{ background:#09F; color:#fff; text-align:center; font-size:12px; margin-bottom:10px; line-height:36px; height:36px; border-radius: 4px; width:45%; display:inline-block;}

/*bootstrap panel*/

.panel {
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default {
	border-color: #dddddd;
}
.panel-default > .panel-heading {
	color: #333333;
	background-color: #f5f5f5;
	border-color: #dddddd;
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.panel-heading {
	position: relative;
}
.panel-body {
	padding: 15px;
}

.panel-heading strong {
	font-size: 1.6em;
}
.panel-heading span {
	color: #999;
}
.panel-heading em {
	right: 20px;
	position: absolute;
}
.panel-heading em strong {
	color: #F00;
}
.panel-success > .panel-heading {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.panel-success {
	border-color: #d6e9c6;
}
/*click loading btn*/
.btn_loading{
text-align: center;
height: 40px;
line-height: 40px;
margin: 10px 0px;
}
.btn_loading a img{
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 10%;
}
.btn_loading a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	background: #fff;
	border-radius:4px;
	border: 1px solid #eeeeee;
	text-decoration: none;
	color: #666;
}
.btn_loading a:hover {
	background-color:  #f9f7f7;
}
.btn_loading a:active {
	background-color: rgb(231, 231, 231);
}
.c-float-modePop .warnMsg {
	color: white;
}
.blankDiv.hide {
	display: none;
}
.blankDiv.show {
	display: block;
}


/*login*/
.login-logo {
	background:url(../images/login_logo.gif) no-repeat;
	background-size: 280px 66px;
	height: 66px;
}
.login-menu-ul {
	list-style: none;
	margin-top: 10px;
}
.login-menu-li {
	float: left;
	width: 50%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	box-sizing:border-box;
	-moz-box-sizing:border-box;	/* Firefox */
	-webkit-box-sizing:border-box;	/* Safari */
}
.login-menu-li-border {
	border-bottom: 1px solid #dddddd;
	border-radius: 4px 4px 0 0;
}
.login-menu-li-border.active {
	border: 1px solid #dddddd;
	border-bottom: none;
}
.login-menu-ul:after {
	content:"";
	clear: both;
	display: block;
}

.login-tab-pane {
	margin-top: 15px;
}
.login-tab {
	padding-right: 20px;
	border-radius: 4px;
}
.login-ipt {
	width:100%;
	height: 34px;
	font-size: 14px;
	color: #555555;
	vertical-align: middle;
	border: 1px solid #cccccc;
	border-radius: 4px 4px 0px 0px;
	padding-left: 20px;
}
.login-ipt-bottom {
	border-radius: 0px 0px 4px 4px;
}
.login-checkbox {
	margin-top: 10px;
	font-weight: bold;
}
.login-btn {
	color: #ffffff;
	background-color: #3276b1;
	display: block;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	margin-top: 10px;
	cursor: pointer;
}
.login-account-del {
	width: 38px;
	height: 38px;
	position: absolute;
	border: 0;
	right: 0;
	top: 0;
	background-color: transparent;
	text-align: center;
	display: none;
}
.login-account-del span {
	margin: 0 auto;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	background-color: #ccc;
	display: block;
}
.login-account-del span:after {
	width: 16px;
	height: 16px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAACeSURBVHjapFNBDoAwCCM+xJP72txl4fEedkQ3IZnKQGOTHtCWJRSAiIC5HIxdPWJkbavl43yw0IlsmDNrCntAXt7oimyYBdWz1B+JdGTDLEgiwIFgZWrAfgZWk6H53uBtE+w92qSTYU53/QR/4UTlpQNfzY8mbs7enlhDwxfptEUKyiqjkg4qqxy0Y0LjmFA7JmHgtfXOeWVtq3cBBgBIaEg6ARaR/wAAAABJRU5ErkJggg==);
	-webkit-background-size: 8px 8px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	content: "";
}
/*star*/
.star {
    background-image: url("../images/star.gif");
    display: inline-block;
    height: 18px;
    width: 84px;
}
.sa5 {
    background-position: 0 0;
}
.sa45 {
    background-position: 0 -108px;
}
.sa4 {
    background-position: 0 -18px;
}
.sa35 {
    background-position: 0 -126px;
}
.sa3 {
    background-position: 0 -36px;
}
.sa25 {
    background-position: 0 -144px;
}
.sa2 {
    background-position: 0 -54px;
}
.sa15 {
    background-position: 0 -162px;
}
.sa1 {
    background-position: 0 -72px;
}
.sa05 {
    background-position: 0 -180px;
}
.sa0 {
    background-position: 0 -90px;
}
.cube {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  /* Other transform properties here */
}